
*{
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
    text-decoration: none !important;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: #416a80;
}

.clear{
    clear: both;
}

.p0{
    padding: 0 !important;
}

.pr0{
    padding-right: 0;
}

.pl0{
    padding-left: 0;
}

.m0{
    margin: 0 !important;
}

.fs2 {
    font-size: 16px;
}

.fs3{
    font-size: 24px;
}

.fs4{
    font-size: 32px;
}

.fs5{
    font-size: 48px;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent !important;
}

[placeholder]:focus:-moz-placeholder {
    color: transparent !important;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent !important;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.justify-wrap{
    text-align: justify;
    font-size: 0;
    text-justify: newspaper;
}

.justify-wrap:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 0;
    width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1030px;
    box-sizing: border-box;
    min-width: 320px;
}

.wrapper{
    position: relative !important;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    min-width: 320px;
}

.footer {
    background-color: #252f3d;
    position: relative;
    z-index: 10;
    min-width: 320px;
}

.section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo{
    position: relative;
}

.promo:before, .about:before, .infra-item:before, .video:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.promo > .container{
    height: 100%;
    font-size: 0;
    z-index: 3;
    position: relative;
}

.promo > .container:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.35em;
}

.promo-content{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.promo-title{
    font: 50px 'GothamProRegular';
    text-transform: uppercase;
}

.promo-title span{
    display: block;
    font: 89px 'GothamProBold';
    margin-top: 15px;
}

.promo-title h1{
    font: inherit;
    margin: 0;
}

.promo-subtitle{
    font: 20px/30px 'GothamProRegular';
    text-transform: uppercase;
    margin-top: 15px;
}

.custom-btn{
    padding: 0 45px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-transform: uppercase;
    height: 76px;
    border: none !important;
    font: 24px/76px 'GothamProBold';
}

.promo .actions-wrap{
    margin-top: 35px;
}

.main-nav{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.main-nav.fixed-nav{
    bottom: initial;
    top: 0;
    position: fixed;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}

.main-nav.fixed-nav .container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.location-header{
    text-align: center;
}

.location-header .container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-nav.fixed-nav.active{
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.main-nav .container{
    padding-top: 51px;
    padding-bottom: 50px;
}

.main-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.main-nav ul li{
    display: inline-block;
    vertical-align: top;
}

.main-nav ul li a, .mobile-phone{
    text-transform: uppercase;
    font: 15px 'GothamProMedium';
    color: #fff !important;
    border-bottom: 1px solid transparent;
}



.custom-wrap{
    padding: 0 50px;
}

.info{
    background: url("../images/bg/info-bg.jpg") no-repeat center;
    background-size: cover;
    height: 490px;
    text-align: center;
}

.info-2{
    background: url("../images/bg/info-bg-2.jpg") no-repeat center;
    background-size: cover;
}

.info .container{
    font-size: 0;
    height: 100%;
}

.info .container:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.35em;
}

.info-content{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.info-item-main{
    height: 75px;
    line-height: 75px;
    font-size: 0;
    text-align: center;
}

.info-value{
    display: inline-block;
    vertical-align: middle;
    font: 68px/75px 'GothamProBold';
    text-transform: uppercase;
}

.info-item-title{
    margin-top: 4px;
    font: 18px/25px 'GothamProRegular';
    opacity: 0.77;
}

.info-item-img{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.info-item-img img{
    display: block;
}

.about{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about .container{
    position: relative;
    z-index: 3;
    padding-bottom: 300px;
}

.about-content{
    padding: 95px 145px 75px 265px;
    color: #fff;
}



.title{
    font: 42px/52px 'GothamProRegular';
    text-transform: uppercase;
    margin-left: -2px;
}

.title h2{
    font: inherit;
    margin: 0;
}

.custom-text{
    font: 15px/30px 'GothamProRegular';
    margin-top: 30px;
}

.custom-text p{
    margin: 0 0 30px 0;
}

.custom-text p:last-child{
    margin-bottom: 0 !important;
}

.about-img-wrap{
    position: absolute;
    left: 50%;
    margin-left: 230px;
    bottom: 0;
}

.about-img-1{
    display: block;
    position: absolute;
    right: 530px;
    bottom: 300px;
    width: 478px;
    height: 467px;
}

.about-img-2{
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 530px;
    height: 300px;
}

.about-img-3{
    position: absolute;
    display: block;
    right: -120px;
    bottom: 175px;
    width: 225px;
}

.photo-item img{
    display: block;
    max-width: 820px;
}

.slide-nav{
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    z-index: 5;
    top: 50%;
}

.g-recaptcha{
    display: inline-block;
    padding-top: 35px;
}

.slide-nav:before, .slide-nav:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slide-nav:after{
    opacity: 0;
    z-index: 3;
}

.slide-nav:hover:after{
    opacity: 1;
}

.slide-nav:hover:before{
    opacity: 0;
}

.slide-left{
    margin-left: -458px;
    left: 50%;
}

.slide-right{
    margin-right: -458px;
    right: 50%;
}

.photo{
    position: relative;
}

.slide-left:before, .slide-left:after{
    background-position: left 14px center;
}

.slide-right:before, .slide-right:after{
    background-position: right 14px center;
}

.slide-left:before{
    background-image: url("../images/elements/arr-left.png");
}

.slide-left:after{
    background-image: url("../images/elements/arr-left-hover.png");
}

.slide-right:before{
    background-image: url("../images/elements/arr-right.png");
}

.slide-right:after{
    background-image: url("../images/elements/arr-right-hover.png");
}

.infra-item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 880px;
    position: relative;
    text-align: center;
}

.infra-item .container{
    position: relative;
    z-index: 3;
    height: 100%;
}

.infra-item .container:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.35em;
}

.infra-item-content{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #fff;
}

.infra-item .title{
    font: 50px 'GothamProRegular';
    color: #fff;
}

.infra-item-title{
    font: 89px 'GothamProBold';
    text-transform: uppercase;
    margin-top: 15px;
}

.infra-item-descr{
    font: 20px/30px 'GothamProRegular';
    max-width: 625px;
    margin: 15px auto 0;
}

.infra{
    position: relative;
}

.slick-dots{
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    bottom: 50px;
    font-size: 0;
    text-align: center;
}

.slick-dots li{
    display: inline-block;
    vertical-align: top;
}

.slick-dots li button{
    border: 3px solid #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background: #fff;
}

.slick-dots li.slick-active button{
    background: transparent !important;
}

.slick-dots li button:hover{
    background: rgba(255, 255, 255, 0.5);
}

.slick-dots li:not(:last-child){
    margin-right: 25px;
}

.custom-map{
    height: 520px;
    position: relative;
}

#map{
    height: 100%;
    width: 100%;
}

.map-controls{
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 10;
}

.map-controls a{
    display: block;
    width: 46px;
    height: 46px;
    text-align: center;
    position: relative;
}

.map-out:after{
    background: url("../images/elements/minus.png") no-repeat;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -9px;
    content: '';
}

.map-in:after{
    background: url("../images/elements/plus.png") no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -9px;
    content: '';
}

.map-controls a:not(:last-child){
    margin-bottom: 5px;
}

.map-near {
    background: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    height: 36px;
    font: 11px/34px 'GothamProMedium';
    z-index: 10;
    left: 45px;
    width: 185px;
    text-align: center;
    padding: 0 20px;
}

.map-near:hover, .map-near.active{
    color: #fff !important;
}

.map-infra{
    width: 185px;
    right: 45px;
    top: 20px;
    position: absolute;
    z-index: 10;
}

.map-infra-label{
    text-transform: uppercase;
    height: 36px;
    font: 11px/34px 'GothamProMedium';
    text-align: center;
    padding: 0 20px;
    background: #fff;
}

.map-infra-list{
    margin-top: 2px;
    background: #fff;
}

.checkbox-wrap{
    margin-top: 15px;
    text-align: left;
}

.checkbox-wrap label{
    display: block;
    margin: 0;
    padding-left: 0;
    cursor: pointer;
}

.custom-map .checkbox-wrap{
    margin-top: 0;
}

.custom-map .checkbox-wrap label{
    padding-left: 15px;
}

.checks-wrap{
    clear: both;
}

.jq-checkbox {
    top: -1px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
}

.checkbox-span{
    font: 11px/34px 'GothamProMedium';
    text-transform: uppercase;
    padding-left: 5px;
}



.jq-checkbox.checked .jq-checkbox__div {
    margin: 2px 0 0 1px;
    border-radius: 0;
    box-shadow: none;
    background: url("../images/elements/check.png") no-repeat;
    width: 16px;
    height: 14px;

}

.full-section{
    position: relative;
}

.full-section .container{
    height: 100%;
    font-size: 0;
}

.full-section .container:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.35em;
    height: 100%;
}

.video-content{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 3;
}

.custom-title{
    color: #fff;
    font: 42px/54px 'GothamProRegular';
    text-transform: uppercase;

}

.video-content .actions-wrap{
    margin-top: 20px;
}

.custom-btn {
    position: relative;
}

.feedback{
    background: rgb(244, 244, 244);
    text-align: center;
}

.feedback .container{
    padding-top: 140px;
    padding-bottom: 120px;
}

.custom-form{
    margin-top: 60px;
}

.custom-form input {
    height: 56px;
    width: 100%;
    display: block;
    border: none;
    text-align: center;
    background: transparent;
    font: 30px 'GothamProRegular';
}

.form-label {
    text-align: center;
    text-transform: uppercase;
    font: 12px 'GothamProMedium';
    color: rgba(38, 47, 61, 0.31);
    margin-top: 7px;
}

.custom-form .actions-wrap{
    margin-top: 50px;
}

.contacts-phone a {
    font: 63px/60px 'GothamProBold';
    height: 60px;
    display: inline-block;
    vertical-align: top;
}

.contacts-phone a span {
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-right: 1px;
    font-size: 28px;
    font-family: 'GothamProMedium';
    border-radius: 50%;
}

.contacts{
    padding-top: 130px;
}

.work-time {
    font: 23px 'GothamProMedium';
    margin-top: 25px;
}

.contacts-address {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    background: url(../images/elements/marker.png) no-repeat;
    font: 15px/20px 'GothamProRegular';
    margin-top: 45px;
}

.contacts-email {
    margin-top: 45px;
}

.contacts-email a {
    font: 22px 'GothamProMedium';
}

.footer-nav{
    text-align: center;
}

.footer-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-nav ul li{
    display: inline-block;
    vertical-align: middle;
}

.footer-nav ul li:not(:last-child){
    margin-right: 60px;
}

.footer .container{
    padding-top: 52px;
    padding-bottom: 51px;
}

.footer-nav ul li{
    max-width: 250px;
}

.footer-nav ul li a{
    text-transform: uppercase;
    color: #fff !important;
    font: 15px 'GothamProMedium';
    border-bottom: 1px solid transparent;
}

.plans .title{
    text-align: center;
}

.plans .container{
    padding-top: 90px;
    padding-bottom: 90px;
}

.plans-content{
    margin-top: 60px;
}

.rooms-filter a{
    float: left;
    width: 20%;
    font: 15px/48px 'GothamProMedium';
    height: 50px;
    text-align: center;
}

.plan-prevs{
    margin-top: 50px;
    min-height: 285px;
}

.plans-item{
    height: 55px;
    line-height: 55px;
}

.plans-item img{
    display: inline-block;
    vertical-align: middle;
}

.plan-prevs .row{
    font-size: 0;
}

.plan-prevs .plans-item-block{
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-bottom: 40px;
}

.plans-item{
    cursor: pointer;
}

.rooms-filter a:not(:last-child){
    border-right: none !important;
}

.trigger-plans{
    display: block;
    font-size: 22px;
    padding: 0;
    text-align: center;
}

.plans-content .col-lg-4 .actions-wrap{
    padding-top: 15px;
}

.plans-main-item img{
    width: 100%;
    display: block;
}

.plans-main-item{
    position: relative;
}

.plans-slider-wrap{
    padding-right: 60px;
    padding-left: 60px;
    position: relative;
    margin-top: 48px;
}

.plans-slider-wrap .slide-left {
    margin-left: 0;
    left: 0;
}

.plans-slider-wrap .slide-right {
    margin-right: 0;
    right: 0;
}

.plans-main-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    opacity: 0;
    visibility: hidden;
}

.plans-main-content:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.35em;
    height: 100%;
}

.plans-main-block{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.plans-main-info{
    font: 22px 'GothamProBold';
    margin-bottom: 10px;
    text-transform: uppercase;
}

.plans-main-block .actions-wrap{
    padding-top: 20px;
}

.custom-btn-small{
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}

.plans-main-item:hover .plans-main-content{
    opacity: 1;
    visibility: visible;
}

.plans-item-block{
    display: none !important;
    -webkit-animation: zoom 0.25s;
    -moz-animation: zoom 0.25s;
    -ms-animation: zoom 0.25s;
    -o-animation: zoom 0.25s;
    animation: zoom 0.25s;
}

.plans-item-block.active{
    display: inline-block !important;
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.decor {
    -webkit-animation: ripple 0.8s linear;
    -moz-animation: ripple 0.8s linear;
    -ms-animation: ripple 0.8s linear;
    -o-animation: ripple 0.8s linear;
    animation: ripple 0.8s linear;
}

.infra-item-content .title{
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px);
    opacity: 0;
}

.active.infra-item-content .title{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


.infra-item-content .infra-item-title{
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}

.active.infra-item-content .infra-item-title{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}


.infra-item-content .infra-item-descr{
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
    opacity: 0;
}

.active.infra-item-content .infra-item-descr{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.custom-modal{
    background: #fff;
    padding: 60px;
    position: relative;
    width: 500px;
    text-align: center;
}

.form-error{
    display: none;
    font: 15px/20px 'GothamProRegular';
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}

.custom-modal-title{
    font: 30px/34px 'GothamProMedium';
    text-transform: uppercase;
}

.custom-modal-subtitle{
    font: 22px 'GothamProLight';
    margin-top: 15px;
}

.custom-modal .form-label {
    font: 14px 'GothamProMedium';
}

.custom-modal .custom-form input{
    font-size: 24px;
}

.custom-modal-close{
    position: absolute;
    background: url("../images/elements/close-icon.png") no-repeat;
    width: 23px;
    height: 22px;
    top: 20px;
    z-index: 10;
    right: 20px;
}

.incorrect{
    border-color: #ff0000 !important;
}

.custom-modal-close:hover{
    opacity: 0.5;
}

.custom-modal .custom-form {
    margin-top: 20px;
}

.custom-modal .custom-form .actions-wrap {
    margin-top: 20px;
}

.custom-modal-video{
    background: #fff;
    padding: 0;
    position: relative;
    width: 1000px;
    height: 560px;
}

.video-modal-content{
    height: 100%;
}

.custom-modal-video .custom-modal-close {
    top: 10px;
    right: 10px;
}

.video-modal-content:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70px 70px 0;
    border-color: transparent #fff transparent transparent;
    right: 0;
    top: 0;
    z-index: 5;
}

.video-modal-content iframe{
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.custom-modal-wide{
    background: #fff;
    padding: 65px;
    position: relative;
}

.custom-modal-block{
    font-size: 0;
}

.custom-modal-left{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    padding-right: 40px;
}

.custom-modal-wide{
    width: 920px;
}

.custom-modal-info{
    text-align: center;
}

.plan-rooms{
    font: 18px 'GothamProMedium';

}

.plan-table{
    margin-top: 25px;
}

.plan-table table{
    border-collapse: collapse;
    width: 100%;
}

.plan-table table td{
    font: 15px 'GothamProRegular';
    padding-top: 5px;
    padding-bottom: 5px;
}

.plan-table table td:first-child{
    text-align: right;
    padding-right: 10px;
}

.plan-table table td:last-child{
    text-align: left;
    padding-left: 10px;
}

.plan-price{
    font: 21px 'GothamProMedium';
    margin-top: 25px;
}

.custom-modal-wide .custom-form {
    margin-top: 30px;
}

.custom-modal-wide .custom-form .actions-wrap {
    margin-top: 20px;
}

.custom-modal .checkbox-wrap label, .custom-modal-wide .checkbox-wrap label{
    padding-left: 25px;
    position: relative;
}

.custom-modal .jq-checkbox, .custom-modal-wide .jq-checkbox{
    position: absolute !important;
    top: 0;
    left: 0;
}

.custom-modal .checkbox-span, .custom-modal-wide .checkbox-span {
    font: 8px/14px 'GothamProMedium';
    display: block;
    padding-top: 4px;
}

.custom-modal-right{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
}

body.overflow{
    overflow: hidden;
}

body:before{
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    content: '';
}

body.overflow:before{
    opacity: 1;
    visibility: visible;
}

.map-infra-list{
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    position: relative;
}

.map-infra-list:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.map-infra.active .map-infra-list{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.map-infra.process-mode .map-infra-list:after{
    opacity: 1;
    visibility: visible;
}

.map-infra.active .map-infra-label, .map-infra:hover .map-infra-label{
    color: #fff !important;
}

.map-infra-label{
    cursor: pointer;
}

.nav-bars{
    width: 32px;
    float: left;
    cursor: pointer;
}

.bar{
    background: #fff;
    height: 2px;
}

.bar:not(:last-child){
    margin-bottom: 9px;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
@-o-keyframes zoom {
    from {
        -o-transform: scale(0);
    }
    to {
        -o-transform: scale(1);
    }
}
@-ms-keyframes zoom {
    from {
        -ms-transform: scale(0);
    }
    to {
        -ms-transform: scale(1);
    }
}
@-moz-keyframes zoom {
    from {
        -moz-transform: scale(0);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.map-loader {
    position: absolute;
    left: 50%;
    margin-left: -31px;
    margin-top: -31px;
    z-index: 30;
    top: 50%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 780px;
    opacity: 0;
    visibility: hidden;
}

.map-loader.active{
    opacity: 1;
    visibility: visible;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;

}

.cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid #bfcd31;
}

.cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid #bfcd31;
}

@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.up-link{
    background: url("../images/elements/arrow-up.png") no-repeat;
    width: 48px;
    background-size: contain;
    height: 48px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.up-link.visible{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.up-link:hover{
    opacity: 0.8 !important;
}

.thanks-modal-content{
    padding-top: 60px;
    padding-bottom: 60px;
}

.recaptcha-wrap{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.recaptcha-wrap > div{
    display: inline-block;
    vertical-align: top;
}

a, input, button, textarea, .slide-nav:before, .slide-nav:after, .plans-main-content,
.infra-item-content .infra-item-title, .infra-item-content .title,
.infra-item-content .infra-item-descr, .main-nav.fixed-nav, body:before,
.map-infra-list, .map-infra-label, .bar, .mobile-menu{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


@media screen and (min-width: 1200px){
    .container{
        width: 1030px;
    }
}

@media screen and (max-width: 1199px){
    .about-img-wrap {
        margin-left: 280px;
    }

    .custom-modal-video {
        width: 900px;
        height: 504px;
    }
}

@media screen and (max-width: 991px){
    .custom-wrap {
        padding: 0;
    }

    .custom-modal-video {
        width: 700px;
        height: 392px;
    }

    .main-nav .container {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .main-nav ul li a, .mobile-phone{
        font: 13px 'GothamProMedium';
    }

    .info {
        height: 350px;
    }

    .about-img-1, .about-img-2, .about-img-3{
        display: none !important;
    }

    .about-content {
        padding: 0
    }

    .about .container {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .custom-text {
        font: 16px/32px 'GothamProRegular';
    }

    .plans-item img {
        max-height: 100%;
    }

    .plans-item{
        text-align: center;
    }

    .plan-prevs {
        text-align: center;
        min-height: 0;
    }

    .trigger-plans {
        margin: 0 auto;
        max-width: 300px;
    }

    .custom-modal-right {
        padding-left: 0;
    }

    .custom-modal-wide {
        width: 700px;
        padding: 50px 40px;
    }

    .custom-modal-right {
        width: 50%;
    }

    .custom-modal-left{
        width: 50%;
    }

    .photo-item img {
        width: 100%;
    }

    .info-value {
        font: 52px/70px 'GothamProBold';
    }

    .infra-item .title {
        font: 32px 'GothamProRegular';
    }

    .infra-item-title {
        font: 68px 'GothamProBold';
    }

    .infra-item-descr {
        font: 18px/26px 'GothamProRegular';
    }

    .feedback .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-nav ul li a {
        font: 12px 'GothamProMedium';
    }

    .footer-nav ul li:not(:last-child) {
        margin-right: 30px;
    }

    .contacts {
        padding-top: 100px;
    }

    .promo-title {
        font: 42px 'GothamProRegular';
    }

    .promo-title span {
        font: 80px 'GothamProBold';
    }

    .rooms-filter{
        margin: 0 auto;
        max-width: 290px;
    }
}

@media screen and (max-width: 767px){
    .promo-title {
        font: 24px 'GothamProRegular';
        text-transform: uppercase;
    }

    .thanks-modal-content{
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .custom-modal-video {
        width: 500px;
        height: 280px;
    }

    .promo-title span {
        font: 56px 'GothamProBold';
        margin-top: 6px;
    }

    .promo-subtitle {
        font: 16px/26px 'GothamProRegular';
        margin-top: 12px;
    }

    .full-section {
        min-height: 480px;
    }

    .custom-btn {
        padding: 0 30px;
        height: 60px;
        font: 18px/60px 'GothamProBold';
    }

    .main-nav ul{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .main-nav .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main-nav .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .info {
        height: auto;
    }

    .info .container {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .info-item:not(:last-child){
        margin-bottom: 35px;
    }

    .about .container {
        padding-bottom: 65px;
        padding-top: 65px;
    }

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .plans-content {
        margin-top: 40px;
    }

    .custom-text {
        font: 14px/24px 'GothamProLight';
        margin-top: 25px;
    }

    .custom-text p {
        margin: 0 0 20px 0;
    }

    .title {
        font: 28px/36px 'GothamProRegular';
        margin-left: 0;
    }

    .trigger-plans {
        width: auto;
        display: inline-block;
        vertical-align: top;
    }

    .plans-content .col-lg-4 .actions-wrap {
        text-align: center;
    }

    .plan-prevs {
        margin-top: 35px;
    }

    .plan-prevs .plans-item-block {
        margin-bottom: 25px;
    }

    .plans-slider-wrap .slide-nav{
        display: none !important;
    }

    .plans-main-block .custom-btn {
        padding: 0 25px;
        font: 16px/60px 'GothamProBold';
    }

    .plans-main-info {
        font: 16px 'GothamProBold';
        margin-bottom: 7px;
    }

    .plans-slider-wrap {
        padding-right: 0;
        padding-left: 0;
        margin-top: 35px;
    }

    .plans .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .slide-right {
        margin-right: 0;
        right: 0;
    }

    .slide-left {
        margin-left: 0;
        left: 0;
    }

    .infra-item-title {
        font: 44px 'GothamProBold';
        margin-top: 0;
    }

    .infra-item-descr {
        font: 16px/22px 'GothamProLight';
    }

    .location-header .container {
        padding-bottom: 25px;
    }

    .infra-item .title {
        font: 22px 'GothamProRegular';
    }

    .map-controls {
        left: 20px;
    }

    .custom-title {
        font: 28px/38px 'GothamProRegular';
    }

    .map-infra {
        right: 20px;
        top: 20px;
    }

    .custom-btn {
        min-width: 200px;
    }

    .contacts-phone a {
        font: 40px/48px 'GothamProBold';
        height: 48px;
    }

    .contacts-phone a span {
        width: 48px;
        height: 48px;
        font-size: 20px;
    }

    .contacts {
        padding-top: 50px;
    }

    .contacts-email a {
        font: 16px 'GothamProMedium';
    }

    .contacts-email {
        margin-top: 30px;
    }

    .work-time {
        font: 17px 'GothamProMedium';
        margin-top: 12px;
    }

    .feedback .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contacts-address {
        display: block;
        max-width: 290px;
        text-align: left;
        margin: 35px auto 0;
    }

    .custom-form {
        max-width: 420px;
        margin: 25px auto 0;
    }

    .custom-form input {
        height: 50px;
        font: 24px 'GothamProRegular';
    }

    .main-nav ul li a, .mobile-phone{
        font: 15px 'GothamProMedium';
    }

    .custom-modal-wide {
        width: 500px;
        padding: 50px;
    }

    .custom-modal-right, .custom-modal-left{
        float: none !important;
        width: 100%;
    }

    .custom-modal-right {
        margin-bottom: 40px;
    }

    .custom-modal-left{
        padding-right: 0;
    }

    .main-nav ul{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        padding: 75px 20px 0;
    }

    .main-nav ul.active{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .main-nav ul li{
        display: block;
        text-align: left;
    }

    .main-nav ul li:last-child{
        display: none;
    }

    .main-nav ul li:not(:last-child){
        margin-bottom: 15px;
    }

    .main-nav ul li a {
        font: 20px 'GothamProMedium';
    }

    .close-nav{
        background: url("../images/elements/close-icon-white.png") no-repeat;
        width: 23px;
        height: 22px;
        top: 20px;
        right: 20px;
        position: fixed;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
    }

    .close-nav.active{
        opacity: 1;
        visibility: visible;
    }

    .main-nav.fixed-nav .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mobile-phone{
        position: relative;
        right: 50%;
        top: 2px;
        margin-right: -65px;
    }

    .footer .container {
        padding-top: 35px;
        padding-bottom: 33px;
    }

    .footer-nav ul li{
        text-align: center;
        display: block;
    }

    .footer-nav ul li:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .promo-content {
        margin-bottom: 65px;
    }

    .footer-nav ul li {
        max-width: 100%;
    }
}

@media screen and (max-width: 580px){
    .custom-modal {
        padding: 40px;
        width: 360px;
    }

    .custom-modal-video {
        width: 400px;
        height: 224px;
    }

    .custom-modal-wide {
        width: 360px;
        padding: 40px;
    }

    .custom-modal .custom-form input {
        font-size: 20px;
    }

    .custom-modal-subtitle {
        font: 18px 'GothamProLight';
        margin-top: 12px;
    }

    .custom-modal-title {
        font: 28px/30px 'GothamProMedium';
    }
}

@media screen and (max-width: 480px){
    .promo-title {
        font: 20px 'GothamProRegular';
    }

    .up-link {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }

    .custom-modal-video {
        width: 280px;
        height: 158px;
    }

    .promo-subtitle {
        font: 16px/24px 'GothamProRegular';
        margin-top: 12px;
    }

    .title {
        font: 24px/30px 'GothamProRegular';
    }

    .infra-item-title {
        font: 38px 'GothamProBold';
        margin-top: 7px;
    }

    .plans-content {
        margin-top: 25px;
    }

    .info-item-title {
        font: 18px/23px 'GothamProRegular';
    }

    .info-value {
        font: 48px/54px 'GothamProBold';
    }

    .slick-dots {
        bottom: 35px;
    }

    .plan-prevs .plans-item-block {
        width: 25% !important;
    }

    .custom-modal-wide .custom-form {
        margin-top: 14px;
    }

    .custom-modal .custom-form input {
        font-size: 16px;
    }

    .promo-title span {
        font: 46px 'GothamProBold';
        margin-top: 4px;
    }

    .custom-btn {
        height: 56px;
        font: 16px/56px 'GothamProBold';
    }

    .custom-modal .custom-form {
        margin-top: 15px;
    }

    .custom-modal-title {
        font: 24px/28px 'GothamProBold';
    }

    .custom-form input {
        height: 44px;
    }


    .custom-map {
        height: 380px;
    }

    .custom-modal, .custom-modal-wide{
        padding: 40px 20px 30px !important;
        width: 280px !important;
    }

    .slide-nav{
        display: none !important;
    }

    .custom-form {
        margin: 10px auto 0;
    }

    .custom-title {
        font: 24px/32px 'GothamProRegular';
    }

    .custom-btn {
        padding: 0 25px;
        height: 60px;
        font: 16px/60px 'GothamProBold';
    }

    .map-controls {
        top: initial;
        bottom: 20px;
    }

    .infra-item-content .infra-item-descr br{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .plan-prevs .plans-item-block {
        width: 33.333333% !important;
    }

    .plans-main-block .custom-btn {
        padding: 0 20px;
        font: 14px/50px 'GothamProBold';
        height: 50px;
    }

    .plans-main-block .actions-wrap {
        padding-top: 10px;
    }

    .plans-main-info {
        font: 14px 'GothamProMedium';
        margin-bottom: 4px;
    }

    .custom-modal-subtitle {
        font: 16px 'GothamProLight';
        margin-top: 10px;
    }

    .promo-subtitle {
        font: 14px/22px 'GothamProRegular';
    }

    .infra-item-title {
        font: 35px 'GothamProBold';
    }

    .promo-title {
        font: 18px 'GothamProRegular';
    }

    .promo-title span {
        font: 36px 'GothamProBold';
    }

    .infra-item .title {
        font: 18px 'GothamProRegular';
    }

    .about-content .title {
        font: 22px/30px 'GothamProRegular';
    }
}

li{
    list-style: none;
}